* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  overflow-x: hidden;
}

h2 {
  text-decoration: underline;
}

.message-bar {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgb(48, 20, 126);
  color:rgb(188, 188, 240);
  padding: 10px 25px;
  transform: translateX(100%);
  transition: transform 1s;
}

.message-bar.show {
  transform: translateX(0);
}